[submodule "users-management-wufwuf"]
	path = users-management-wufwuf
	url = https://github.com/paulrojasg/users-management-wufwuf.git
[submodule "catalog-wufwuf"]
	path = catalog-wufwuf
	url = git@github.com:JabColV/catalog-wufwuf.git
[submodule "appointment-schedule-wufwuf"]
	path = appointment-schedule-wufwuf
	url = https://github.com/N4tth/appointment-schedule-wufwuf.git
