[submodule "users-management-wufwuf"]
	path = users-management-wufwuf
	url = https://github.com/paulrojasg/users-management-wufwuf.git
[submodule "catalog-wufwuf"]
	path = catalog-wufwuf
	url = https://github.com/JabColV/catalog-wufwuf.git
[submodule "schedule-wufwuf"]
	path = schedule-wufwuf
	url = https://github.com/Jpcqaa2/WufWuf.git
