[submodule "users-management-wufwuf"]
	path = users-management-wufwuf
	url = https://github.com/paulrojasg/users-management-wufwuf.git
[submodule "catalog-wufwuf"]
	path = catalog-wufwuf
	url = https://github.com/JabColV/catalog-wufwuf.git

[submodule "scheduling-wufwuf"]
	path = scheduling-wufwuf
	url = https://github.com/N4tth/schedule-wufwuf.git
